{% extends 'layout.html.twig' %}
{% block stylesheet%}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/styleAdd.css') }}"/>
{% endblock %}
{%  block body %}
    <div class="container">
        <div class="jumbotron">

            <h2>Modifying your event {{ event.name }}</h2>
            <br>
            {% block form %}
                {{ form(form) }}
            {% endblock %}
            <a class="btn btn-outline-secondary" href="{{ path('account.activities.event') }}">Return to your events</a>
            <a class="btn btn-outline-secondary" href="{{ path('home') }}">Go back to home</a>
            <br>

        </div>
    </div>
{% endblock %}