
{% extends "base.html.twig" %}
{% block stylesheet %} <link rel="stylesheet" href= "{{asset('assets/css/styleFind.css')}}">{% endblock %}
{% block body %}
    <div class="card-deck">
                {% block card %}
                    {% for event in activities %}
                        <div class="col-6 col-md-6 col-lg-4 mb-4">
                            <div class="col">
                                <div class="card">
                                    <img src="{{asset(event.photo)}}" class="card-img-top">
                                    <div class="card-body">
                                        <h5> {{ event.name }}</h5>
                                        <p> {{ event.description }}</p>
                                        <p>City: {{ event.location }}</p>
                                        <p>Date: {{ event.date|date("m/d/Y") }}</p>
                                        <p>Price: {{ event.price}} </p>
                                        <a type="button" class="btn btn-dark rounded mb-1" href="{{ path('account.event.modify', {'id': event.id }) }}">Modify</a>
                                        <a type="button" class="btn btn-dark rounded" href="{{ path('account.activities.delete', {'type':1,'id': event.id }) }}">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endblock %}


            <!-- Pagination -->
            {% block Pagination %}
                <div>
                    <ul class="pagination">
                        {% if page >1 %}
                            <li><a class="page-link" href="{{ path('account.activities.events', {'page': page-1 }) }}">&laquo; Previous</a></li>
                        {% endif %}
                        {% if page < maxpage %}
                            <li><a class="page-link" href="{{ path('account.activities.events', {'page': page+1 }) }}">Next &raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% endblock %}




    </div>
{% endblock %}