{% extends "base.html.twig" %}
{% block stylesheet %} <link rel="stylesheet" href= "{{asset('assets/css/styleFind.css')}}">{% endblock %}
{% block body %}

    <div class="ml-3 mt-5">
            <div class=" col-lg-8 mt-5">
                <div class="row mt-5">

                    {% for indoor in activities %}
                        <div class="col-6 col-md-6 col-lg-4 mb-3">
                            <div class="col">
                                <div class="card">
                                    <img src="{{asset(indoor.photo)}}" class="card-img-top">
                                    <div class="card-body">
                                        <h5> {{ indoor.name }}</h5>
                                        <p> {{ indoor.description }}</p>
                                        <a type="button" class="btn btn-dark rounded" href="{{ path('account.indoor.modify', { 'id': indoor.id }) }}">Modify</a>
                                        <a type="button" class="btn btn-dark rounded" href="{{ path('account.activities.delete', {'type': 3,'id': indoor.id}) }}">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                <!-- Pagination -->

                <div>
                    <ul class="pagination">
                        {% if page >1 %}
                            <li><a class="page-link" href="{{ path('account.places', {'page': page-1 }) }}">&laquo; Previous</a></li>
                        {% endif %}
                        {% if page < maxpage %}
                            <li><a class="page-link" href="{{ path('account.places', {'page': page+1 }) }}">Next &raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>


            </div>

        </div>


    </div>


{% endblock %}