<!DOCTYPE html>
<html style="font-size: 16px;">
<head>

    <title>JAW</title>
    <link rel="stylesheet" href="{{ asset('assets/css/nicepage.css') }}" media="screen">
    <link rel="stylesheet" href="{{ asset('assets/css/home-1.css') }}" media="screen">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

</head>


<body class="u-backlink-hidden u-body">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="navbar">
    <a class="navbar-brand" href="{{ path('home') }}">
        <img src="{{ asset('assets/images/icon.png') }}" height="75" alt="Logo">
    </a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link " href="{{ path('searchevents') }}">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('searchplaces') }}">Places</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('searchindoors') }}">Indoor Activities</a>
            </li>


        </ul>

        {% if app.user %}
            <ul class="navbar-nav">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b> Account</b>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ path('account') }}">Modify Account</a>
                        <a class="dropdown-item" href="{{ path('account.activities.choice') }}">Jawek</a>
                        <a class="dropdown-item" href="{{ path('app_logout') }}">LogOut </a>
                    </div>
                </div>
            </ul>
        {% else %}
            <ul class="navbar-nav">
                <li class="nav-item"> <a class="btn btn-warning rounded" href="{{ path('app_login') }}">Log into JAWEK</a> </li>
                <li class="nav-item"> <a class="btn btn-warning rounded" href="{{ path('app_register') }}">Become a JAWISTI</a> </li>
            </ul>
        {% endif %}

    </div>
</nav>
{% if goodbye is defined %}
    <div class="alert alert-dismissible alert-warning">
        {{ goodbye }}
    </div>
{% endif %}


<section class="u-clearfix u-white u-section-1" id="sec-15f3">
    <div class="u-clearfix u-sheet u-sheet-1">
        <img src="{{ asset('assets/images/7d00f41ea051740564f26d37fe44fb1a.jpeg') }}" alt="" class="u-expanded-height-xs u-image u-image-default u-image-1" imgwidth="1980" imgheight="1638">
        <img class="u-expanded-height u-hidden-xs u-image u-image-2" src="{{ asset('assets/images/8e61c5167b16b5dfc1d6e55479a01bb7.png') }}" imgwidth="1980" imgheight="1200">
        <div class="u-container-style u-group u-similar-fill u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <img src="{{ asset('assets/images/7b75aee5633c9dc9e1407ce835892bdb.png') }}" alt="" class="u-image u-image-contain u-image-default u-image-3" imgwidth="392" imgheight="518">
                <h5 class="u-align-center u-text u-text-body-alt-color u-text-1">وقيت باش تعمل</h5>
                <h1 class="u-align-center u-custom-font u-expanded-width-md u-text u-text-white u-text-2">Jaw</h1>
                <a href="{{ path('app_register') }}" class="u-border-2 u-border-white u-btn u-button-style u-custom u-btn-1">
                    <span style="font-weight: 700;">Become a Jawisti&nbsp;</span>
                    <span style="font-weight: 700;"></span>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-white u-section-2" id="sec-e251">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-disable-padding u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-center u-container-style u-layout-cell u-left-cell u-similar-fill u-size-15 u-size-30-md u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1"><span class="u-icon u-icon-circle u-text-custom-color-1 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xlink:href="#svg-3f45"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-3f45"><path d="m242.269531 78.453125c-8.542969 0-16.574219 3.328125-22.613281 9.371094-6.042969 6.039062-9.371094 14.070312-9.367188 22.613281 0 17.988281-6.496093 34.996094-18.355468 48.382812.761718-3.671874 1.164062-7.472656 1.164062-11.367187 0-30.863281-25.105468-55.972656-55.96875-55.972656-30.863281 0-55.972656 25.109375-55.972656 55.972656 0 3.894531.402344 7.695313 1.164062 11.367187-11.40625-12.90625-18.351562-29.84375-18.351562-48.382812 0-17.636719-14.347656-31.984375-31.984375-31.984375s-31.984375 14.347656-31.984375 31.984375c0 53.226562 30.511719 101.128906 78.28125 123.847656v102.695313c0 .050781-.007812.101562-.007812.15625v164.605469c0 5.519531 4.476562 9.992187 9.996093 9.992187s9.992188-4.472656 9.992188-9.992187v-154.609376h90.429687v114.628907c0 5.519531 4.476563 9.996093 9.996094 9.996093s9.996094-4.476562 9.996094-9.996093v-234.394531c9.203125-5.648438 17.714844-12.359376 25.363281-20.007813 25.929687-25.929687 40.207031-60.347656 40.207031-96.921875 0-17.636719-14.347656-31.984375-31.984375-31.984375zm-105.140625 33.015625c19.839844 0 35.980469 16.140625 35.980469 35.984375 0 19.839844-16.140625 35.980469-35.980469 35.980469-19.84375 0-35.984375-16.140625-35.984375-35.980469 0-19.84375 16.140625-35.984375 35.984375-35.984375zm82.785156 81.753906c-7.742187 7.738282-16.515624 14.359375-26.082031 19.679688-3.171875 1.761718-5.140625 5.105468-5.140625 8.734375v105.503906h-90.421875v-99.335937c0-4.03125-2.421875-7.667969-6.140625-9.222657-43.824218-18.308593-72.140625-60.757812-72.140625-108.144531 0-6.613281 5.378907-11.992188 11.992188-11.992188s11.996093 5.382813 11.996093 11.992188c0 51.363281 41.789063 93.148438 93.148438 93.148438h.003906c24.839844 0 48.21875-9.695313 65.835938-27.308594 17.613281-17.609375 27.3125-40.992188 27.3125-65.839844 0-3.203125 1.246094-6.214844 3.511718-8.480469 2.265626-2.265625 5.277344-3.511719 8.480469-3.511719 6.613281 0 11.992188 5.378907 11.996094 11.992188 0 31.234375-12.203125 60.632812-34.351563 82.785156zm0 0"></path><path d="m198.6875 491.75c-2.640625 0-5.207031 1.066406-7.066406 2.925781s-2.929688 4.429688-2.929688 7.066407c0 2.628906 1.070313 5.207031 2.929688 7.066406s4.4375 2.929687 7.066406 2.929687 5.207031-1.070312 7.066406-2.929687 2.929688-4.4375 2.929688-7.066406c0-2.628907-1.070313-5.207032-2.929688-7.066407s-4.4375-2.925781-7.066406-2.925781zm0 0"></path><path d="m143.59375 387.71875c-5.519531 0-9.996094 4.476562-9.996094 9.996094v104.289062c0 5.519532 4.476563 9.996094 9.996094 9.996094s9.992188-4.476562 9.992188-9.996094v-104.289062c0-5.519532-4.472657-9.996094-9.992188-9.996094zm0 0"></path><path d="m479.753906 215.214844c-8.542968 0-16.578125 3.328125-22.617187 9.367187-6.042969 6.042969-9.367188 14.074219-9.367188 22.617188 0 17.988281-6.492187 34.996093-18.351562 48.382812.757812-3.671875 1.160156-7.472656 1.160156-11.367187 0-30.863282-25.105469-55.972656-55.96875-55.972656s-55.972656 25.109374-55.972656 55.972656c0 3.894531.402343 7.695312 1.164062 11.367187-11.40625-12.90625-18.351562-29.84375-18.351562-48.382812 0-17.636719-14.347657-31.984375-31.984375-31.984375-17.636719 0-31.984375 14.347656-31.984375 31.984375 0 12.1875 1.609375 24.28125 4.785156 35.953125 1.445313 5.324218 6.933594 8.472656 12.265625 7.019531 5.328125-1.449219 8.46875-6.941406 7.019531-12.265625-2.707031-9.960938-4.082031-20.292969-4.082031-30.707031 0-6.613281 5.382812-11.996094 11.996094-11.996094 6.613281.003906 11.992187 5.382813 11.992187 11.996094 0 51.363281 41.789063 93.148437 93.148438 93.148437h.003906c24.839844 0 48.21875-9.699218 65.835937-27.308594 17.613282-17.609374 27.3125-40.992187 27.3125-65.84375 0-3.199218 1.246094-6.210937 3.511719-8.476562s5.277344-3.515625 8.480469-3.515625c6.613281 0 11.992188 5.382813 11.996094 11.996094-.003906 31.234375-12.203125 60.632812-34.355469 82.785156-7.734375 7.738281-16.511719 14.359375-26.078125 19.675781-3.171875 1.765625-5.140625 5.109375-5.140625 8.738282v105.503906h-90.421875v-99.335938c0-4.03125-2.421875-7.667968-6.140625-9.222656-9.75-4.074219-18.925781-9.46875-27.269531-16.027344-4.339844-3.414062-10.621094-2.660156-14.035156 1.679688-3.410157 4.335937-2.660157 10.621094 1.679687 14.035156 7.992187 6.285156 16.640625 11.652344 25.777344 16.011719v102.699219c-.003907.050781-.007813.101562-.007813.15625v27.84375c0 5.519531 4.472656 9.992187 9.992188 9.992187 5.519531 0 9.996094-4.472656 9.996094-9.992187v-17.851563h90.429687v17.851563c0 5.519531 4.476563 9.992187 9.996094 9.992187s9.992187-4.472656 9.992187-9.992187v-137.613282c9.207032-5.648437 17.71875-12.363281 25.367188-20.011718 25.925781-25.925782 40.207031-60.347657 40.207031-96.921876 0-17.632812-14.347656-31.980468-31.980469-31.980468zm-105.144531 33.015625c19.839844 0 35.980469 16.140625 35.980469 35.984375 0 19.839844-16.140625 35.980468-35.980469 35.980468s-35.980469-16.140624-35.980469-35.980468c0-19.84375 16.140625-35.984375 35.980469-35.984375zm0 0"></path><path d="m277.464844 312.574219c-3.09375-4.574219-9.308594-5.773438-13.878906-2.6875-4.574219 3.09375-5.777344 9.304687-2.6875 13.878906l.113281.167969c1.925781 2.886718 5.09375 4.449218 8.324219 4.449218 1.902343 0 3.832031-.542968 5.535156-1.679687 4.59375-3.0625 5.832031-9.265625 2.769531-13.859375zm0 0"></path><path d="m447.769531 129.742188c5.519531 0 9.996094-4.472657 9.996094-9.992188v-13.804688c0-5.519531-4.476563-9.996093-9.996094-9.996093s-9.996093 4.476562-9.996093 9.996093v13.804688c0 5.519531 4.476562 9.992188 9.996093 9.992188zm0 0"></path><path d="m447.769531 195.898438c5.519531 0 9.996094-4.476563 9.996094-9.996094v-13.804688c0-5.515625-4.476563-9.992187-9.996094-9.992187s-9.996093 4.476562-9.996093 9.992187v13.804688c0 5.519531 4.476562 9.996094 9.996093 9.996094zm0 0"></path><path d="m473.945312 155.917969h13.804688c5.519531 0 9.992188-4.472657 9.992188-9.992188s-4.472657-9.996093-9.992188-9.996093h-13.804688c-5.519531 0-9.996093 4.476562-9.996093 9.996093s4.476562 9.992188 9.996093 9.992188zm0 0"></path><path d="m407.789062 155.917969h13.804688c5.519531 0 9.996094-4.472657 9.996094-9.992188s-4.476563-9.996093-9.996094-9.996093h-13.804688c-5.519531 0-9.996093 4.476562-9.996093 9.996093s4.476562 9.992188 9.996093 9.992188zm0 0"></path><path d="m343.824219 33.792969c5.519531 0 9.992187-4.476563 9.992187-9.996094v-13.800781c0-5.519532-4.472656-9.996094-9.992187-9.996094s-9.996094 4.476562-9.996094 9.996094v13.800781c0 5.519531 4.472656 9.996094 9.996094 9.996094zm0 0"></path><path d="m343.824219 99.949219c5.519531 0 9.992187-4.476563 9.992187-9.996094v-13.804687c0-5.519532-4.472656-9.996094-9.992187-9.996094s-9.996094 4.476562-9.996094 9.996094v13.804687c0 5.519531 4.472656 9.996094 9.996094 9.996094zm0 0"></path><path d="m369.996094 59.96875h13.804687c5.519531 0 9.996094-4.476562 9.996094-9.996094 0-5.519531-4.476563-9.992187-9.996094-9.992187h-13.804687c-5.519532 0-9.992188 4.472656-9.992188 9.992187 0 5.519532 4.472656 9.996094 9.992188 9.996094zm0 0"></path><path d="m303.84375 59.96875h13.804688c5.519531 0 9.996093-4.476562 9.996093-9.996094 0-5.519531-4.476562-9.992187-9.996093-9.992187h-13.804688c-5.519531 0-9.996094 4.472656-9.996094 9.992187 0 5.519532 4.476563 9.996094 9.996094 9.996094zm0 0"></path></svg></span>
                            <h4 class="u-text u-text-1">
                                <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-btn-1" href="{{ path('search') }}">ألقى جوّك</a>
                            </h4>
                            <p class="u-text u-text-font u-text-grey-dark-1 u-text-2">Here you can find and join&nbsp; hundreds of plans for various activities all as you wish . We are certain you will find amazing stuff of your liking</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-layout-cell u-similar-fill u-size-15 u-size-30-md u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2"><span class="u-icon u-icon-circle u-text-custom-color-1 u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xlink:href="#svg-c4c8"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-c4c8" style="enable-background:new 0 0 512 512;"><g><g><g><path d="M345.863,281.853c19.152-8.872,38.221-15.344,56.953-19.308c5.403-1.143,8.856-6.45,7.713-11.853     c-1.143-5.403-6.444-8.857-11.854-7.713c-21.683,4.588-43.704,12.261-65.728,22.865c-12.303-14.673-26.387-30.015-41.582-45.21     c-16.147-16.146-32.462-31.048-47.961-43.878c13.412-16.959,24.359-35.947,32.641-56.728     c12.913-32.401,19.461-69.419,19.461-110.029c0-5.523-4.478-10-10-10s-10,4.477-10,10c0,62.572-16.044,114.358-47.728,154.32     c-5.979-4.561-11.776-8.753-17.312-12.486c-29.637-19.989-47.289-24.674-57.155-15.162c-0.07,0.065-0.143,0.129-0.211,0.196     c-0.01,0.01-0.02,0.019-0.03,0.028c-0.006,0.006-0.011,0.013-0.017,0.018c-2.527,2.533-4.087,5.596-4.678,9.251L0.778,498.133     c-1.57,3.744-0.72,8.067,2.151,10.938C4.843,510.984,7.401,512,10.003,512c1.302,0,2.616-0.254,3.865-0.778     c0.028-0.012,0,0,0.028-0.012l351.941-147.588c3.337-0.54,6.172-1.904,8.569-4.061c0.174-0.145,0.337-0.299,0.5-0.453     c0.064-0.063,0.133-0.115,0.196-0.179c0.01-0.01,0.018-0.021,0.027-0.03c0.069-0.068,0.133-0.142,0.199-0.213     c9.511-9.867,4.826-27.518-15.163-57.153C355.94,295.269,351.139,288.675,345.863,281.853z M79.315,440.759     c-2.087,13.013-6.728,21.567-8.961,25.087l-41.679,17.478l42.329-100.938C79.286,403.147,82.157,423.035,79.315,440.759z      M140.851,406.923c-4.032,22.984-14.726,34.063-17.767,36.811l-26.351,11.05c5.858-20.854,7.398-53.957-15.241-97.409     l29.968-71.459C142.553,344.866,144.886,383.926,140.851,406.923z M176.522,421.323l-21.554,9.04     c2.054-5.189,3.865-11.099,5.177-17.796c8.004-40.853-5.062-91.365-38.815-150.187l10.82-25.801     c8.564,10.305,18.322,24.89,22.274,34.086c1.627,3.787,5.316,6.055,9.192,6.055c1.317,0,2.657-0.263,3.944-0.815     c5.074-2.181,7.419-8.061,5.239-13.136c-5.864-13.644-20.733-34.874-32.107-46.559l16.533-39.425     c2.896,5.31,6.483,11.128,10.785,17.506c2.962,4.392,6.207,8.945,9.697,13.625c34.207,51.906,33.433,105.035,26.746,140.484     C197.342,386.105,182.115,413.71,176.522,421.323z M253.575,389.012l-47.474,19.908c6.855-15.036,13.848-34.775,18.004-56.812     c4.642-24.614,6.683-56.982-1.906-91.935c4.737,5.004,9.61,10.019,14.609,15.018c14.958,14.957,30.056,28.836,44.52,41     C279.894,363.404,258.239,384.918,253.575,389.012z M288.045,374.557c5.353-11.075,10.08-25.348,12.188-43.175     c6.036,4.608,11.889,8.842,17.475,12.609c6.381,4.304,12.198,7.889,17.51,10.785L288.045,374.557z M323.217,323.485     c-21.74-15.403-47.405-37.577-72.266-62.438c-24.86-24.86-47.035-50.525-62.437-72.265     c-14.895-21.023-18.909-31.758-19.966-36.408c4.65,1.058,15.385,5.072,36.408,19.966c3.118,2.209,6.322,4.57,9.586,7.045     c-0.701,0.722-1.393,1.451-2.106,2.164c-3.905,3.905-3.905,10.237,0,14.143c1.953,1.952,4.512,2.929,7.071,2.929     c2.559,0,5.119-0.977,7.071-2.929c1.256-1.256,2.493-2.529,3.716-3.814c15.169,12.539,31.208,27.179,46.929,42.9     c13.519,13.519,26.23,27.271,37.504,40.504c-1.806,1.003-3.611,2.023-5.416,3.065c-4.783,2.762-6.422,8.878-3.66,13.66     c1.852,3.208,5.213,5.002,8.67,5.002c1.696,0,3.416-0.433,4.99-1.342c2.776-1.604,5.554-3.143,8.331-4.646     c4.345,5.518,8.377,10.883,12.018,16.023c14.896,21.023,18.909,31.758,19.966,36.408     C354.974,342.393,344.239,338.379,323.217,323.485z"></path><path d="M180.884,288.533c-2.267-5.037-8.186-7.283-13.223-5.016c-4.88,2.196-7.14,7.822-5.214,12.751     c1.514,3.963,5.299,6.43,9.34,6.43c1.096,0,2.21-0.182,3.304-0.564c5.212-1.824,7.96-7.529,6.135-12.742     C181.131,289.121,181.002,288.795,180.884,288.533z"></path><path d="M373.433,154.691c1.953,1.952,4.512,2.929,7.071,2.929c2.56,0,5.118-0.977,7.071-2.929     c22.343-22.343,58.542-32.583,84.971-34.716c5.505-0.444,9.607-5.268,9.163-10.772c-0.445-5.505-5.258-9.591-10.772-9.163     c-29.973,2.419-71.326,14.331-97.504,40.509C369.528,144.454,369.528,150.786,373.433,154.691z"></path><path d="M504.589,101.963c-0.283-0.076-0.571-0.151-0.862-0.224c-5.359-1.336-10.785,1.929-12.12,7.288     c-1.334,5.359,1.929,10.786,7.288,12.12l0.511,0.132c0.868,0.233,1.74,0.345,2.598,0.345c4.414,0,8.454-2.945,9.652-7.411     C513.087,108.879,509.924,103.395,504.589,101.963z"></path><path d="M73.504,83.621h10v10c0,5.522,4.477,10,10,10c5.523,0,10-4.478,10-10v-10h10c5.523,0,10-4.478,10-10s-4.477-10-10-10h-10     v-10c0-5.522-4.477-10-10-10c-5.523,0-10,4.478-10,10v10h-10c-5.523,0-10,4.478-10,10C63.504,79.144,67.981,83.621,73.504,83.621     z"></path><path d="M307.502,180.62h10.001v9.999c0,5.523,4.478,10,10,10c5.523,0,10-4.477,10-10v-9.999h9.999c5.522,0,10-4.478,10-10     c0-5.522-4.478-10-10-10h-9.999v-10.001c0-5.522-4.477-10-10-10c-5.522,0-10,4.478-10,10v10.001h-10.001c-5.522,0-10,4.478-10,10     C297.502,176.143,301.98,180.62,307.502,180.62z"></path><path d="M446.501,417.618h-10v-10c0-5.522-4.478-10-10-10c-5.522,0-10,4.478-10,10v10h-10c-5.522,0-10,4.478-10,10     c0,5.522,4.478,10,10,10h10v10c0,5.522,4.478,10,10,10c5.522,0,10-4.478,10-10v-10h10c5.522,0,10-4.478,10-10     C456.501,422.096,452.024,417.618,446.501,417.618z"></path><path d="M389.969,60.001c16.542,0,30-13.458,30-30s-13.458-30-30-30s-30,13.458-30,30S373.427,60.001,389.969,60.001z      M389.969,20.001c5.514,0,10,4.486,10,10c0,5.514-4.486,10-10,10s-10-4.486-10-10C379.969,24.487,384.455,20.001,389.969,20.001z     "></path><path d="M452.501,173.619c-16.542,0-30,13.458-30,30s13.458,30,30,30s30-13.458,30-30S469.042,173.619,452.501,173.619z      M452.501,213.619c-5.514,0-10-4.486-10-10s4.486-10,10-10s10,4.486,10,10S458.015,213.619,452.501,213.619z"></path><path d="M198.503,95.62c16.542,0,30-13.458,30-30s-13.458-30-30-30s-30,13.458-30,30S181.961,95.62,198.503,95.62z      M198.503,55.62c5.514,0,10,4.486,10,10c0,5.514-4.486,10-10,10s-10-4.486-10-10C188.503,60.107,192.989,55.62,198.503,55.62z"></path><path d="M449.19,294.058c0-5.508-4.492-10-10-10c-5.508,0-10,4.492-10,10s4.492,10,10,10     C444.698,304.058,449.19,299.565,449.19,294.058z"></path><path d="M335.189,95.06c5.508,0,10-4.492,10-10s-4.492-10-10-10c-5.508,0-10,4.492-10,10     C325.19,90.567,329.682,95.06,335.189,95.06z"></path><path d="M469.189,359.057c-5.508,0-10.001,4.493-10.001,10.001c0,5.508,4.493,10,10.001,10c5.507,0,10-4.492,10-10     C479.189,363.55,474.696,359.057,469.189,359.057z"></path><path d="M139.192,30.001c5.508,0,10-4.492,10-10c0-5.508-4.492-10-10-10s-10,4.492-10,10     C129.192,25.509,133.684,30.001,139.192,30.001z"></path>
</g>
</g>
</g></svg></span>
                            <h4 class="u-text u-text-3">
                                <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-btn-2" href="{{ path('inout') }}">أصنع جوك</a>
                            </h4>
                            <p class="u-text u-text-font u-text-grey-dark-1 u-text-4">Here you can be the JAW maker ! Share interesting plans with the community and help spread the JAW</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-layout-cell u-similar-fill u-size-15 u-size-30-md u-layout-cell-3">
                        <div class="u-container-layout u-container-layout-3"><span class="u-icon u-icon-circle u-text-custom-color-1 u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xlink:href="#svg-02d2"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-02d2"><g><g><path d="m503.624 161.319c5.437-6.157 7.827-14.733 6.578-23.799-1.209-8.773-5.655-17.387-12.52-24.251-11.395-11.395-26.98-15.337-39.16-11.098v-17.303c0-29.104-23.679-52.782-52.783-52.782s-52.782 23.678-52.782 52.782v21.392c0 .078.005.154.006.231h-44.187c0-.078.006-.154.006-.231v-21.392c0-29.104-23.678-52.782-52.782-52.782s-52.782 23.678-52.782 52.782v21.392c0 .078.005.154.006.231h-44.187c0-.078.006-.154.006-.231v-21.392c0-29.104-23.678-52.782-52.782-52.782s-52.782 23.678-52.782 52.782v17.302c-12.18-4.238-27.765-.296-39.161 11.098-6.864 6.864-11.311 15.478-12.52 24.251-1.25 9.065 1.142 17.642 6.578 23.8-5.49 12.992-8.376 27.078-8.376 41.204v74.869c0 17.31 14.082 31.392 31.392 31.392h11.391v151.13h-11.392c-5.523 0-10 4.478-10 10s4.477 10 10 10h449.218c5.522 0 10-4.478 10-10s-4.478-10-10-10h-11.392v-151.13h11.392c17.309 0 31.391-14.082 31.391-31.392v-74.869c0-14.126-2.886-28.212-8.376-41.204zm-41.029-38.744c1.728-1.728 4.141-2.154 6.102-2.154.757 0 1.447.063 2.004.141 4.415.608 9.095 3.105 12.839 6.85s6.241 8.424 6.85 12.839c.275 2 .38 5.711-2.015 8.106s-6.107 2.288-8.105 2.014c-4.415-.608-9.095-3.105-12.839-6.85-7.598-7.596-8.645-17.136-4.836-20.946zm-89.638-37.707c0-18.076 14.706-32.782 32.782-32.782h.001c18.076 0 32.782 14.706 32.782 32.782v21.392c0 18.076-14.706 32.782-32.783 32.782-18.076 0-32.782-14.706-32.782-32.782zm-149.739 0c0-18.076 14.706-32.782 32.782-32.782s32.782 14.706 32.782 32.782v21.392c0 18.076-14.706 32.782-32.782 32.782s-32.782-14.706-32.782-32.782zm32.782 74.174c21.94 0 40.79-13.458 48.744-32.551h26.929c-5.967 5.815-11.269 12.332-15.771 19.44-10.745 16.966-16.424 36.534-16.424 56.591v64.904c-.231-.016-.461-.035-.696-.035h-85.564c-.235 0-.465.019-.696.035v-64.904c0-20.057-5.679-39.625-16.423-56.591-4.502-7.109-9.804-13.625-15.771-19.44h26.928c7.954 19.093 26.804 32.551 48.744 32.551zm193.217 204.611h-33.479v-38.697c0-5.522-4.478-10-10-10s-10 4.478-10 10v38.697h-33.478v-76.296c.231.016.461.035.696.035h85.564c.235 0 .465-.019.696-.035v76.296zm-86.957 20h33.479v76.261h-33.479zm-20-94.87h-11.39c-6.275 0-11.38-5.1-11.391-11.372v-.019c0-.007-.001-.013-.001-.019v-64.85l22.782-.002zm-279.477-1.426c.231.016.461.035.696.035h85.564c.235 0 .465-.019.696-.035v76.296h-86.956zm86.956 96.296v76.261h-33.479v-76.261zm10.001-191.133c-2.653 0-5.196 1.054-7.072 2.929s-2.929 4.419-2.929 7.071v64.907c-.231-.016-.461-.035-.696-.035h-85.564c-.235 0-.465.019-.696.035v-64.907c0-2.652-1.054-5.196-2.929-7.071-1.875-1.876-4.419-2.929-7.072-2.929l-32.21.002c.883-7.646 2.792-15.072 5.704-22.211 1.151.126 2.32.197 3.506.197 1.538 0 3.102-.107 4.68-.325 8.774-1.209 17.387-5.655 24.251-12.52 4.381-4.381 7.653-9.384 9.791-14.573 9.592 9.831 22.971 15.952 37.758 15.952 20.459 0 38.223-11.708 46.979-28.769 21.655 14.07 35.766 36.755 38.708 62.248zm9.999 20.001 22.782.002v64.869c0 6.281-5.11 11.392-11.391 11.392h-11.391zm-96.26-127.653c0-18.076 14.706-32.782 32.782-32.782s32.782 14.706 32.782 32.782v21.392c0 18.076-14.706 32.782-32.782 32.782s-32.782-14.706-32.782-32.782zm-51.868 55.382c.608-4.415 3.105-9.095 6.85-12.839 4.798-4.798 10.37-6.984 14.785-6.984 2.575 0 4.756.744 6.16 2.147 3.81 3.811 2.761 13.35-4.836 20.946-3.744 3.744-8.423 6.241-12.838 6.85-1.999.273-5.711.381-8.106-2.015-2.396-2.393-2.291-6.105-2.015-8.105zm9.781 148.533c-6.281 0-11.392-5.11-11.392-11.392v-64.869l22.783-.002v76.263zm31.391 94.87h33.478v76.261h-33.478zm106.956 76.26v-151.13h11.391c4.018 0 7.857-.767 11.391-2.148v153.278zm96.261 0v-89.961c0-5.522-4.478-10-10-10s-10 4.478-10 10v89.961h-33.479v-172.556c.231.016.461.035.696.035h85.564c.235 0 .466-.019.697-.035l-.001 172.557h-33.477zm53.479-153.278c3.534 1.381 7.373 2.148 11.391 2.148h11.391v151.13h-22.782zm96.26 153.278v-76.261h33.479v76.261zm43.479-267.393c-.001 0-.001 0 0 0-2.653 0-5.196 1.054-7.072 2.929-1.875 1.875-2.929 4.419-2.929 7.071v64.907c-.231-.016-.461-.035-.696-.035h-85.564c-.235 0-.465.019-.696.035v-64.907c0-2.652-1.054-5.196-2.929-7.071-1.876-1.876-4.42-2.929-7.072-2.929l-32.208.002c2.943-25.494 17.053-48.178 38.708-62.249 8.756 17.061 26.521 28.769 46.98 28.769 14.788 0 28.166-6.12 37.758-15.951 2.138 5.189 5.409 10.192 9.79 14.573 6.864 6.864 15.478 11.311 24.251 12.52 1.578.218 3.142.325 4.681.325 1.185 0 2.354-.071 3.505-.197 2.911 7.139 4.821 14.565 5.704 22.211zm32.782 84.872c0 6.281-5.109 11.392-11.391 11.392h-11.392v-76.263l22.783.002z"></path><path d="m256 314.952c-5.523 0-10 4.481-10 10.004s4.477 10 10 10 10-4.478 10-10v-.008c0-5.522-4.477-9.996-10-9.996z"></path>
</g>
</g></svg></span>
                            <h4 class="u-text u-text-5">
                                <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-btn-3" href="https://nicepage.com">أعمل شِلَّة</a>
                            </h4>
                            <p class="u-text u-text-font u-text-grey-dark-1 u-text-6">Correct , you can also invite or find people intrested in the same event as<br>you and tag along with them
                            </p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-layout-cell u-right-cell u-similar-fill u-size-15 u-size-30-md u-layout-cell-4">
                        <div class="u-container-layout u-valign-top u-container-layout-4"><span class="u-icon u-icon-circle u-text-custom-color-1 u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512.016 512.016" style=""><use xlink:href="#svg-1e6d"></use></svg><svg class="u-svg-content" viewBox="0 0 512.016 512.016" id="svg-1e6d"><g><g><path d="m453.47 1.565c-2.933-1.027-5.973-1.549-9.035-1.549-15.123 0-27.427 12.361-27.427 27.555v52.451h-210.716c-7.346 0-14.252 2.861-19.445 8.055l-20 20c-4.873 4.875-12.805 4.875-17.678 0l-20-19.999c-5.193-5.194-12.1-8.056-19.445-8.056h-14.716v-52.451c0-8.918-4.348-17.324-11.63-22.488-7.33-5.197-16.383-6.481-24.831-3.517-35.013 12.277-58.539 45.468-58.539 82.591v340.359c0 48.248 39.252 87.5 87.5 87.5h204.591c7.346 0 14.251-2.86 19.445-8.054l20-20c4.873-4.875 12.805-4.875 17.678 0l20 20c5.194 5.193 12.1 8.054 19.445 8.054h35.841c18.216 0 35.678-5.545 50.499-16.034 3.381-2.394 4.182-7.074 1.789-10.455-2.394-3.381-7.074-4.181-10.455-1.789-12.273 8.687-26.738 13.278-41.833 13.278h-35.841c-3.339 0-6.478-1.3-8.838-3.661l-20-20c-10.723-10.721-28.17-10.721-38.893 0l-20 20c-2.36 2.361-5.499 3.661-8.838 3.661h-204.59c-39.977 0-72.5-32.523-72.5-72.5 0-34.293 24.343-64.164 57.88-71.027 12.817-2.622 22.12-13.9 22.12-26.816v-50.989c0-4.143-3.357-7.5-7.5-7.5s-7.5 3.357-7.5 7.5v50.989c0 5.917-4.164 10.901-10.127 12.121-22.984 4.703-42.39 18.354-54.873 36.85v-291.487c0-30.762 19.491-58.264 48.502-68.437 3.801-1.331 7.88-.749 11.192 1.599 3.372 2.391 5.306 6.128 5.306 10.252v218.112c0 4.143 3.357 7.5 7.5 7.5s7.5-3.357 7.5-7.5v-150.661h14.716c3.339 0 6.478 1.3 8.838 3.662l20 20c5.361 5.361 12.404 8.041 19.446 8.041s14.085-2.68 19.446-8.041l20-20.001c2.36-2.361 5.499-3.661 8.838-3.661h210.716v97.218c0 7.346 2.86 14.251 8.054 19.445l20 20c2.361 2.36 3.662 5.5 3.662 8.839 0 3.338-1.301 6.478-3.662 8.838l-20 20.001c-5.193 5.194-8.054 12.101-8.054 19.445v37.864c0 12.916 9.303 24.194 22.119 26.816 33.538 6.863 57.881 36.734 57.881 71.027 0 14.622-4.33 28.711-12.522 40.744-2.33 3.424-1.444 8.09 1.979 10.421 1.292.879 2.761 1.301 4.214 1.301 2.398 0 4.755-1.148 6.207-3.28 9.893-14.532 15.122-31.541 15.122-49.186v-340.358c0-37.122-23.524-70.314-58.538-82.592zm-11.336 337.229c-5.962-1.22-10.126-6.204-10.126-12.121v-37.864c0-3.339 1.3-6.479 3.661-8.839l20-20c10.722-10.723 10.722-28.169 0-38.892l-20-20c-2.327-2.326-3.661-5.548-3.661-8.838v-164.669c0-6.923 5.574-12.555 12.427-12.555 1.368 0 2.738.237 4.072.704 29.01 10.173 48.501 37.676 48.501 68.437v291.486c-12.483-18.496-31.889-32.146-54.874-36.849z"></path><path d="m207.508 183.062c0-20.678-16.822-37.5-37.5-37.5s-37.5 16.822-37.5 37.5 16.822 37.5 37.5 37.5 37.5-16.822 37.5-37.5zm-37.5 22.5c-12.406 0-22.5-10.094-22.5-22.5s10.094-22.5 22.5-22.5 22.5 10.094 22.5 22.5-10.094 22.5-22.5 22.5z"></path><path d="m377.312 319.584c-2.93-2.928-7.678-2.928-10.607 0l-14.696 14.696-14.696-14.696c-2.93-2.928-7.678-2.928-10.607 0-2.929 2.93-2.929 7.678 0 10.607l14.696 14.696-14.696 14.696c-2.929 2.93-2.929 7.678 0 10.607 1.465 1.464 3.385 2.196 5.304 2.196s3.839-.732 5.304-2.196l14.696-14.696 14.696 14.696c1.465 1.464 3.385 2.196 5.304 2.196s3.839-.732 5.304-2.196c2.929-2.93 2.929-7.678 0-10.607l-14.696-14.696 14.696-14.696c2.927-2.93 2.927-7.678-.002-10.607z"></path><path d="m240.008 190.562h7.5c4.143 0 7.5-3.357 7.5-7.5s-3.357-7.5-7.5-7.5h-7.5c-4.143 0-7.5 3.357-7.5 7.5s3.358 7.5 7.5 7.5z"></path><path d="m355.587 231.255c.127.006.253.009.378.009 3.971 0 7.285-3.118 7.485-7.128.038-.771.058-1.547.058-2.327 0-5.123-.834-10.16-2.479-14.971-1.341-3.92-5.609-6.007-9.523-4.67-3.92 1.341-6.01 5.604-4.67 9.523 1.11 3.245 1.673 6.649 1.673 10.117 0 .53-.014 1.058-.04 1.583-.206 4.137 2.981 7.658 7.118 7.864z"></path><path d="m299.207 183.062c0-4.143-3.357-7.5-7.5-7.5h-14.733c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5h14.733c4.143 0 7.5-3.357 7.5-7.5z"></path><path d="m310.027 260.554c0-4.143-3.357-7.5-7.5-7.5h-14.732c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5h14.732c4.142 0 7.5-3.357 7.5-7.5z"></path><path d="m335.187 194.953c2.702 0 5.313-1.466 6.652-4.027 1.919-3.671.499-8.202-3.172-10.121-5.234-2.736-10.872-4.422-16.756-5.011-4.115-.411-7.798 2.594-8.209 6.717-.412 4.121 2.595 7.797 6.717 8.209 3.969.396 7.771 1.533 11.299 3.378 1.11.579 2.298.855 3.469.855z"></path><path d="m331.641 265.302c.927 0 1.869-.173 2.782-.538 5.47-2.187 10.417-5.362 14.704-9.438 3.002-2.854 3.121-7.602.268-10.604-2.855-3.003-7.602-3.121-10.604-.268-2.9 2.758-6.243 4.905-9.937 6.382-3.846 1.537-5.718 5.902-4.18 9.748 1.174 2.933 3.99 4.718 6.967 4.718z"></path><path d="m209.038 444.763c.667 0 1.347-.09 2.021-.278 5.509-1.538 10.718-3.938 15.482-7.132 3.441-2.307 4.36-6.965 2.054-10.405-2.308-3.441-6.968-4.361-10.405-2.054-3.438 2.305-7.194 4.035-11.164 5.144-3.99 1.114-6.321 5.251-5.207 9.24.926 3.316 3.938 5.485 7.219 5.485z"></path><path d="m199.396 268.054h14.732c4.143 0 7.5-3.357 7.5-7.5s-3.357-7.5-7.5-7.5h-14.732c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5z"></path><path d="m162.664 434.552c4.466 3.597 9.441 6.442 14.788 8.46.872.328 1.767.484 2.646.484 3.03 0 5.885-1.851 7.019-4.854 1.462-3.875-.494-8.202-4.37-9.665-3.857-1.455-7.449-3.51-10.677-6.108-3.226-2.599-7.947-2.088-10.545 1.139-2.597 3.224-2.087 7.946 1.139 10.544z"></path><path d="m237.68 415.375c.844.306 1.706.451 2.555.451 3.067 0 5.946-1.896 7.052-4.946 1.945-5.364 3.021-10.994 3.195-16.732.127-4.141-3.127-7.6-7.267-7.726-.078-.003-.156-.004-.233-.004-4.036 0-7.368 3.209-7.492 7.271-.127 4.147-.902 8.211-2.305 12.08-1.412 3.893.601 8.195 4.495 9.606z"></path><path d="m150.008 323.673c4.143 0 7.5-3.357 7.5-7.5v-14.733c0-4.143-3.357-7.5-7.5-7.5s-7.5 3.357-7.5 7.5v14.733c0 4.142 3.358 7.5 7.5 7.5z"></path><path d="m142.508 360.372c0 4.143 3.357 7.5 7.5 7.5s7.5-3.357 7.5-7.5v-14.733c0-4.143-3.357-7.5-7.5-7.5s-7.5 3.357-7.5 7.5z"></path><path d="m164.953 279.054c2.593-3.045 5.694-5.534 9.218-7.397 3.662-1.937 5.061-6.475 3.124-10.136s-6.474-5.061-10.136-3.124c-5.211 2.756-9.795 6.434-13.626 10.931-2.686 3.154-2.307 7.888.847 10.573 1.412 1.202 3.14 1.79 4.859 1.79 2.123 0 4.231-.895 5.714-2.637z"></path><path d="m142.508 392.47c0 4.703.606 9.375 1.804 13.886.892 3.359 3.926 5.578 7.244 5.578.637 0 1.284-.082 1.929-.253 4.003-1.063 6.388-5.169 5.325-9.173-.863-3.255-1.302-6.633-1.302-10.038v-2.633c0-4.143-3.357-7.5-7.5-7.5s-7.5 3.357-7.5 7.5z"></path><path d="m258.328 253.054h-14.732c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5h14.732c4.143 0 7.5-3.357 7.5-7.5s-3.358-7.5-7.5-7.5z"></path><path d="m254.246 368.798c1.897-3.507 4.415-6.586 7.483-9.151 3.178-2.656 3.601-7.387.943-10.564-2.656-3.177-7.386-3.603-10.564-.943-4.531 3.788-8.251 8.338-11.056 13.522-1.971 3.644-.615 8.194 3.028 10.165 1.135.613 2.356.904 3.562.904 2.667-.001 5.247-1.425 6.604-3.933z"></path><path d="m284.508 352.387h7.5c4.143 0 7.5-3.357 7.5-7.5s-3.357-7.5-7.5-7.5h-7.5c-4.143 0-7.5 3.357-7.5 7.5s3.358 7.5 7.5 7.5z"></path>
</g>
</g></svg></span>
                            <h4 class="u-text u-text-7">
                                <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-btn-4" href="https://nicepage.com">ألقى ثنيّتك&nbsp;</a>
                            </h4>
                            <p class="u-text u-text-font u-text-grey-dark-1 u-text-8">Lastly , this very advanced feature will let you find all the possible options to get to the place of the event and choose your best fit.All routes and all possible means.</p>
                            <div class="u-border-2 u-border-custom-color-1 u-line u-line-horizontal u-line-1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="u-border-2 u-border-custom-color-1 u-line u-line-horizontal u-line-2"></div>
        <div class="u-border-2 u-border-custom-color-1 u-line u-line-horizontal u-line-3"></div>
        <div class="u-border-2 u-border-custom-color-1 u-line u-line-horizontal u-line-4"></div>
    </div>
</section>
<section class="u-align-center u-clearfix u-custom-color-2 u-section-3" id="carousel_9abf" style="background-color: #cde2f9">
    <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-valign-bottom-md u-valign-bottom-sm u-valign-bottom-xs u-container-layout-1">
                            <h2 class="u-text u-text-body-alt-color u-text-1">About Us</h2>
                            <p class="u-text u-text-2">W<span style="font-size: 0.875rem; font-weight: 700;">e are a group of INSAT students ,aka future software engineers (hopefully) who want to experience lots of things and do many kinds of activities .But we often struggle to find a satisfying plan. And once we do , we keep running between 4 .., no 5 ..,well so many pages and websites in order to find the needed information and end up wasting so much time and energy. And since being a software engineer means that you should solve probems people didn't know they had, and in order to have a good mark in our web test(you want the truth? this is nothing but a school project ), we created this website and this community hoping for it to be of use for you, dear friend.</span>
                                <br>
                            </p>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <div class="u-custom-color-3 u-shape u-shape-circle u-shape-1"></div>
                            <div alt="" class="u-image u-image-circle u-image-1 mr-5" data-image-width="500" data-image-height="500">
                                <img class="u-image u-image-circle u-image-1" src="{{ asset('assets/images/MicrosoftTeams-image1.png') }}">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-custom-color-4 u-section-4" id="sec-e540" style="background-color: #f2f0df">
    <div class="u-align-center u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-1" style="font-size:24px">Need help?&nbsp;<br>Don't worry, we've got you Covered!
        </h2>
        <a href="#" class="u-btn u-button-style u-grey-90 u-btn-1">
            <span style="font-weight: 700;">FAQ</span>
            <span style="font-weight: 700;"></span>
        </a>
    </div>
</section>
<section class="u-align-center u-clearfix u-grey-5 u-section-5" id="sec-13b7">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                    <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-valign-middle u-container-layout-1">
                            <h2 class="u-text u-text-1">
                                <span style="font-size: 2.25rem; font-weight: 700;">Let's Connect!</span>
                                <span style="font-size: 2.25rem;"></span>
                            </h2>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <div class="u-social-icons u-spacing-16 u-social-icons-1">
                                <a class="u-social-url" target="_blank" href=""><span class="u-icon u-icon-circle u-social-facebook u-social-icon u-icon-1">
                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-c1cd"></use></svg>
                    <svg x="0px" y="0px" viewBox="0 0 112 112" id="svg-c1cd" class="u-svg-content"><circle fill="#3B5998" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2
            c0-6.7,3.1-17,17-17h12.5v13.9H73.5z"></path></svg>
                  </span>
                                </a>
                                <a class="u-social-url" target="_blank" href=""><span class="u-icon u-icon-circle u-social-icon u-social-twitter u-icon-2">
                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-a5e7"></use></svg>
                    <svg x="0px" y="0px" viewBox="0 0 112 112" id="svg-a5e7" class="u-svg-content"><circle fill="#55ACEE" class="st0" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M83.8,47.3c0,0.6,0,1.2,0,1.7c0,17.7-13.5,38.2-38.2,38.2C38,87.2,31,85,25,81.2c1,0.1,2.1,0.2,3.2,0.2
            c6.3,0,12.1-2.1,16.7-5.7c-5.9-0.1-10.8-4-12.5-9.3c0.8,0.2,1.7,0.2,2.5,0.2c1.2,0,2.4-0.2,3.5-0.5c-6.1-1.2-10.8-6.7-10.8-13.1
            c0-0.1,0-0.1,0-0.2c1.8,1,3.9,1.6,6.1,1.7c-3.6-2.4-6-6.5-6-11.2c0-2.5,0.7-4.8,1.8-6.7c6.6,8.1,16.5,13.5,27.6,14
            c-0.2-1-0.3-2-0.3-3.1c0-7.4,6-13.4,13.4-13.4c3.9,0,7.3,1.6,9.8,4.2c3.1-0.6,5.9-1.7,8.5-3.3c-1,3.1-3.1,5.8-5.9,7.4
            c2.7-0.3,5.3-1,7.7-2.1C88.7,43,86.4,45.4,83.8,47.3z"></path></svg>
                  </span>
                                </a>
                                <a class="u-social-url" target="_blank" href=""><span class="u-icon u-icon-circle u-social-icon u-social-instagram u-icon-3">
                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-4b06"></use></svg>
                    <svg x="0px" y="0px" viewBox="0 0 112 112" id="svg-4b06" class="u-svg-content"><circle fill="#C536A4" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2
            z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z"></path><path fill="#FFFFFF" d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path><path fill="#FFFFFF" d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8
            C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5
            c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path></svg>
                  </span>
                                </a>
                                <a class="u-social-url" target="_blank" href=""><span class="u-icon u-icon-circle u-social-icon u-social-linkedin u-icon-4">
                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-1cb4"></use></svg>
                    <svg x="0px" y="0px" viewBox="0 0 112 112" id="svg-1cb4" class="u-svg-content"><circle fill="#007AB9" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M41.3,83.7H27.9V43.4h13.4V83.7z M34.6,37.9L34.6,37.9c-4.6,0-7.5-3.1-7.5-7c0-4,3-7,7.6-7s7.4,3,7.5,7
            C42.2,34.8,39.2,37.9,34.6,37.9z M89.6,83.7H76.2V62.2c0-5.4-1.9-9.1-6.8-9.1c-3.7,0-5.9,2.5-6.9,4.9c-0.4,0.9-0.4,2.1-0.4,3.3v22.5
            H48.7c0,0,0.2-36.5,0-40.3h13.4v5.7c1.8-2.7,5-6.7,12.1-6.7c8.8,0,15.4,5.8,15.4,18.1V83.7z"></path></svg>
                  </span>
                                </a>
                                <a class="u-social-url" target="_blank" href="#"><span class="u-icon u-icon-circle u-social-icon u-social-pinterest u-icon-5">
                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-df98"></use></svg>
                    <svg x="0px" y="0px" viewBox="0 0 112 112" id="svg-df98" class="u-svg-content"><circle fill="#CB2027" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M61.1,76.9c-4.7-0.3-6.7-2.7-10.3-5c-2,10.7-4.6,20.9-11.9,26.2c-2.2-16.1,3.3-28.2,5.9-41
            c-4.4-7.5,0.6-22.5,9.9-18.8c11.6,4.6-10,27.8,4.4,30.7C74.2,72,80.3,42.8,71,33.4C57.5,19.6,31.7,33,34.9,52.6
            c0.8,4.8,5.8,6.2,2,12.9c-8.7-1.9-11.2-8.8-10.9-17.8C26.5,32.8,39.3,22.5,52.2,21c16.3-1.9,31.6,5.9,33.7,21.2
            C88.2,59.5,78.6,78.2,61.1,76.9z"></path></svg>
                  </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="u-clearfix u-footer u-grey-90 u-typography-Normal--Footer" id="sec-ebc9"><div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-left u-border-2 u-border-white u-expanded-width u-line u-line-horizontal u-opacity u-opacity-30 u-line-1"></div>
        <h3 class="u-align-center u-headline u-text u-text-1">
            <a href="/" style="color: white; font-size: 15px">Made with&nbsp;&nbsp;<span class="u-icon"><svg class="u-svg-content" viewBox="0 -20 464 464"><path d="m340 0c-44.773438.00390625-86.066406 24.164062-108 63.199219-21.933594-39.035157-63.226562-63.19531275-108-63.199219-68.480469 0-124 63.519531-124 132 0 172 232 292 232 292s232-120 232-292c0-68.480469-55.519531-132-124-132zm0 0" fill="#ff6243"></path><path d="m32 132c0-63.359375 47.550781-122.359375 108.894531-130.847656-5.597656-.769532-11.242187-1.15625025-16.894531-1.152344-68.480469 0-124 63.519531-124 132 0 172 232 292 232 292s6-3.113281 16-8.992188c-52.414062-30.824218-216-138.558593-216-283.007812zm0 0" fill="#ff5023"></path></svg><img></span>&nbsp; | COPYRIGHT © 2021 , JAW
            </a>
        </h3>
    </div></footer>

</body>
</html>