{% extends 'search/findPlanslayout.html.twig' %}

{% block other1link%} {{ path('searchevents')}} {% endblock %}
{% block other1 %} Events {% endblock %}

{% block other2link%} {{ path('searchindoors')}} {% endblock %}
{% block other2 %} Indoor {% endblock %}

{% block name %} Find a place {% endblock %}
{% block activity %} a place {% endblock %}
{% block form %}
    {{ form(placeOptions) }}
{% endblock %}

{% block card%}
    <!--Endroit Card-->
    {% for place in places %}
        <div class="col-6 col-md-6 col-lg-4 mb-3">
            <div class="col">
                <div class="card">
                    <img src="{{asset(place.photo)}}" class="card-img-top">
                    <div class="card-body">
                        <h5>{{ place.name }}</h5>
                        <p>{{ place.description }}</p>
                        <p>City: {{ place.location }}</p>
                        <a type="button" class="btn btn-dark rounded" href="{{ path('placedetails', {'id': place.id }) }}">Details</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block Pagination %}
    <div>
        <ul class="pagination">
            {% if page >1 %}
                <li><a class="page-link" href="{{ path('searchplaces', {'page': page-1 }) }}" >&laquo; Previous</a></li>
            {% endif %}
            {% if page < maxpage %}
                <li><a class="page-link" href="{{ path('searchplaces', {'page': page+1 }) }}" >Next &raquo;</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}