{% extends 'details/detailslayout.html.twig' %}
{% block title %} {{ event.name }}{% endblock %}

{% block photo %} {{asset(event.photo)}} {% endblock %}
{% block card %}
<div class="d-flex justify-content-center mt-1">
    <h1 class="card-title">{{event.name }} </h1>
</div>
    <p class="card-text"> <span style="color: #1a82ae ; font-size:18px">Description : </span> {{event.description }} </p>
    <p class="card-text"><span style="color: #1a82ae ; font-size:18px">Age min : </span> {{event.agemin }} </p>
    <p class="card-text"><span style="color: #1a82ae ; font-size:18px">Age max : </span> {{event.agemax }}</p>
    <p class="card-text"><span style="color: #1a82ae ; font-size:18px">Eco Friendly : </span> {{event.ecofriendly }}</p>
    <p class="card-text"><span style="color: #1a82ae ; font-size:18px">Target : </span>  </p>
    <p class="card-text"><span style="color: #1a82ae ; font-size:18px">Price : </span> {{event.price }}</p>
    <p class="card-text"><span style="color: #1a82ae ; font-size:18px">Date : </span> {{event.date|date("m/d/Y") }}</p>
    <p class="card-text"><span style="color: #1a82ae ; font-size:18px">Duration : </span> {{event.duration }}</p>
    <p class="card-text"><span style="color: #1a82ae ; font-size:18px">Location : </span> {{event.location }}</p>
    <p class="card-text"><span style="color: #1a82ae ; font-size:18px">Link : </span> {{event.link }}</p>
    <p class="card-text"><span style="color: #1a82ae ; font-size:18px">Number : </span>{{event.number }} </p>
    <p class="card-text"><small class="text-muted">Added By: {{event.user }} </small></p>
{% endblock %}
