{% extends 'details/detailslayout.html.twig' %}
{% block title %} {{ indoor.name }}{% endblock %}

{% block photo %} {{asset(indoor.photo)}} {% endblock %}
{% block card %}

    <div class="d-flex justify-content-center mt-1">
    <h1 class="card-title">{{indoor.name }} </h1>
    </div>
    <p class="card-text"><span style="color: #1a82ae ; font-size:18px">Description : </span> {{indoor.description }} </p>
    <p class="card-text"><span style="color: #1a82ae ; font-size:18px">Age min : </span> {{indoor.agemin }} </p>
    <p class="card-text"><span style="color: #1a82ae ; font-size:18px">Age max : </span>{{indoor.agemax }}</p>
    <p class="card-text"><span style="color: #1a82ae ; font-size:18px">Eco Friendly : </span> {{indoor.ecofriendly }}</p>
    <p class="card-text"><span style="color: #1a82ae ; font-size:18px">Target : </span>  </p>
    <p class="card-text"><span style="color: #1a82ae ; font-size:18px">Price min : </span> {{indoor.pricemin }}</p>
    <p class="card-text"><span style="color: #1a82ae ; font-size:18px">Price max : </span> {{indoor.pricemin }}</p>
    <p class="card-text"><small class="text-muted">Added By: {{indoor.user }} </small></p>
{% endblock %}