{% extends 'details/detailslayout.html.twig' %}
{% block title %} {{ place.name }}{% endblock %}
{% block photo %} {{asset(place.photo)}} {% endblock %}

{% block card %}
    <div class="d-flex justify-content-center mt-1">
    <h1 class="card-title">{{place.name }} </h1>
    </div>
    <p class="card-text"><span style="color: #1a82ae ; font-size:18px">Description : </span>{{place.description }} </p>
    <p class="card-text"><span style="color: #1a82ae ; font-size:18px">Age min : </span>{{place.agemin }} </p>
    <p class="card-text"><span style="color: #1a82ae ; font-size:18px">Age max : </span> {{place.agemax }}</p>
    <p class="card-text"><span style="color: #1a82ae ; font-size:18px">Eco Friendly : </span> {{place.ecofriendly }}</p>
    <p class="card-text"><span style="color: #1a82ae ; font-size:18px">Target : </span>  </p>
    <p class="card-text"><span style="color: #1a82ae ; font-size:18px">Price min : </span> {{place.pricemin }}</p>
    <p class="card-text"><span style="color: #1a82ae ; font-size:18px">Price max : </span> {{place.pricemin }}</p>
    <p class="card-text"><span style="color: #1a82ae ; font-size:18px">Location : </span> {{place.location }}</p>
    <p class="card-text"><span style="color: #1a82ae ; font-size:18px">Opening time : </span> {{place.open|date("h:m") }}</p>
    <p class="card-text"><span style="color: #1a82ae ; font-size:18px">Closing time : </span> {{place.close|date("h:m") }}</p>
    <p class="card-text"><small class="text-muted">Added By: {{place.user }} </small></p>
{% endblock %}