<!doctype html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/tabicon.ico') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    {%block Stylesheet%}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css">
    <link rel="stylesheet" href= "{{ asset("assets/css/style.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/css/LastSections.css") }}" media="screen">
    <link rel="stylesheet" href="{{ asset("assets/css/nicepage.css") }}" media="screen">
    {% endblock %}
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <title>{% block title %}JAW{% endblock %}</title>

</head>
<body class ="u-body">
<!--NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
    <a class="navbar-brand" href="{{ path('home') }}">
        <img src="{{ asset('assets/images/icon.png') }}" height="75" alt="Logo">
    </a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link " href="{{ path('home') }}">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{{ path('searchevents') }}">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{{ path('searchplaces') }}">Places</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('searchindoors') }}">Indoor Activities</a>
            </li>
        </ul>
        {% if app.user %}
            <ul class="navbar-nav">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b> Account</b>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ path('account') }}">Modify Account</a>
                        <a class="dropdown-item" href="{{ path('account.activities.choice') }}">Jawek</a>
                        <a class="dropdown-item" href="{{ path('app_logout') }}">LogOut</a>
                    </div>
                </div>
            </ul>
        {% else %}
            <ul class="navbar-nav">
                <li class="nav-item"> <a class="btn btn-warning rounded" href="{{ path('app_login') }}">Log into JAWEK</a> </li>
                <li class="nav-item"> <a class="btn btn-warning rounded" href="{{ path('app_register') }}">Become a JAWISTI</a> </li>
            </ul>
        {% endif %}
    </div>
</nav>

{% block messages %}

    {% for message in app.session.flashbag.get('error') %}
        <div class="alert alert-dismissible alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.session.flashbag.get('success') %}
        <div class="alert alert-dismissible alert-success">
            {{ message }}
        </div>
    {% endfor %}

{% endblock %}

{% block body %}
{% endblock %}


    </body>
</html>
